* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    color: white;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header img {
    height: 130px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    color: white;
    list-style-type: none;
    margin: 10px 30px;
    font-size: 30px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main,
section {
    border: 1px solid rgb(0, 0, 0);
    height: 450px;
}

main {
    background-image: url("img/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1 {
    margin: 20px;
    font-size: 40px;
}

main h2 {
    margin: 20px;
    font-size: 30px;
}

.HTML5 {
    color: #F16529;
    font-style: normal;

}

.CSS3 {
    color: #264DE4;
    font-style: normal;
}

.JS {
    color: #E5A228;
    font-style: normal;
}

#html {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: linear-gradient(90deg, #EA7152 0%, #f38354 60%, #e9d9d2 100%);
    height: auto;
}

#html div {

    text-align: justify;
    flex-basis: 548px;
    align-self: center;
    height: 250px;
    text-align: center;

}



#css {

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    background-image: linear-gradient(90deg, #5172EA 0%, #527AEF 60%, #5482F3 100%);
}

#css div {

    text-align: justify;
    flex-basis: 548px;
    align-self: center;
    height: 250px;
    text-align: center;


}


#js {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    background-image: linear-gradient(90deg, #EBB653 0%, #EFC152 60%, #F3CA52 100%);
}

#js div {

    text-align: justify;
    flex-basis: 548px;
    align-self: center;
    height: 250px;
    text-align: center;

}

.img1 {
    height: 300px;
    width: 300px;
    margin: 30px;
}



.botao1 {

    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}



#Links {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CECECE;
    flex-direction: column;
    min-height: 500px;

}

#Links div {

  
    display: flex;
   width: 80%;
}

#Links #lin {

    display: flex;
    border: 1px solid black;
    

}


#Links ul {

    display: flex;
    flex-direction: column;
    list-style: none;
    

}


#contato {

    background-image: linear-gradient(90deg, #629289 0%, #719C95 60%, #7BA39D 100%);
    display: flex;
    align-items: center;
    justify-content: center;


}


#contato h2 {

    text-align: center;
    margin: auto;

}


#contato #btn {

    text-align: center;
    color: white;

}

#contato #btn input {

    text-align: center;
    color: white;
    background-color: black;

}

#f {
    display: flex;

}

footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
  flex-wrap: wrap;
}


footer div {
    background-color: black;
    display: flex;
   
}

footer ul {
    display: flex;


}

footer li {
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
   
}

footer #ass{
   
    font-size: 2em;
    color: white;
    align-items: center;
    margin-left: 60px;
    
   
}